<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>SL BEAUTY - сервис и логистика профессиональной косметики. Каталог</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
@import "header.html"

<div class="content page-content">

    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="index.html">Главная</a></li>
                <li><a href="news.html">Новости</a></li>
            </ul>
        </div>
    </div>

    <section class="news">
        <div class="container">
            <h1 class="title">Новости</h1>

            <div class="news-content">
                <div class="sale-box news-box">
                    <div class="sale-box__image"><img src="img/news.png" alt=""></div>
                    <div class="sale-box__text">
                        <div class="title-sale">Срок действия рег. удостоверений продлен</div>


                        <div class="conditions-sale">
                            <p>Срок действия регистрационных удостоверений на изделия медицинского назначения
                               бессрочного действия продлен до 2021 года</p>
                            <p>Соответствующее постановление Правительства РФ № 160 от 10.02.2017 г. «О внесении
                               изменений в постановление Правительства Российской Федерации от 27 декабря 2012 года
                               №1416» подписано премьер-министром Российской Федерации Дмитрием Медведевым. Напомним,
                               что, согласно постановлению Правительства Российской Федерации от 27.12.2012 № 1416 «Об
                               утверждении Правил государственной регистрации медицинских изделий», регистрационные
                               удостоверения на изделия медицинского назначения и медицинскую технику бессрочного
                               действия, выданные до дня вступления в силу вышеуказанного постановления, подлежали
                               замене на регистрационные удостоверения по форме, утверждаемой Росздравнадзором.
                               Вступление в действие этой меры планировалось еще 1 января 2014 года, но по просьбам
                               производителей было отложено до 1 января 2017 года. Вступившее в силу постановление
                               Правительства РФ № 160 продлило срок замены регистрационных удостоверений еще на четыре
                               года – до 2021 года. Справка Росздравнадзора: с 2013 по 2016 год включительно в
                               Росздравнадзор поступило более 14 тысяч заявлений о замене регистрационных удостоверений
                               (только в 2016 году - более 8 тысяч), по результатам рассмотрения которых переоформлено
                               более 10 тысяч регистрационных удостоверений.?</p>
                        </div>
                        <div class="date">7 июня 2019</div>
                    </div>
                </div>
                <div class="sale-box news-box">
                    <div class="sale-box__image"><img src="img/news.png" alt=""></div>
                    <div class="sale-box__text">
                        <div class="title-sale">Срок действия рег. удостоверений продлен</div>

                        <div class="conditions-sale">
                            <p>Срок действия регистрационных удостоверений на изделия медицинского назначения
                               бессрочного действия продлен до 2021 года</p>
                            <p>Соответствующее постановление Правительства РФ № 160 от 10.02.2017 г. «О внесении
                               изменений в постановление Правительства Российской Федерации от 27 декабря 2012 года
                               №1416» подписано премьер-министром Российской Федерации Дмитрием Медведевым. Напомним,
                               что, согласно постановлению Правительства Российской Федерации от 27.12.2012 № 1416 «Об
                               утверждении Правил государственной регистрации медицинских изделий», регистрационные
                               удостоверения на изделия медицинского назначения и медицинскую технику бессрочного
                               действия, выданные до дня вступления в силу вышеуказанного постановления, подлежали
                               замене на регистрационные удостоверения по форме, утверждаемой Росздравнадзором.
                               Вступление в действие этой меры планировалось еще 1 января 2014 года, но по просьбам
                               производителей было отложено до 1 января 2017 года. Вступившее в силу постановление
                               Правительства РФ № 160 продлило срок замены регистрационных удостоверений еще на четыре
                               года – до 2021 года. Справка Росздравнадзора: с 2013 по 2016 год включительно в
                               Росздравнадзор поступило более 14 тысяч заявлений о замене регистрационных удостоверений
                               (только в 2016 году - более 8 тысяч), по результатам рассмотрения которых переоформлено
                               более 10 тысяч регистрационных удостоверений.?</p>
                        </div>

                        <div class="date">7 июня 2019</div>

                    </div>
                </div>
            </div>
        </div>
    </section>


</div>

@import "footer.html"


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/common.js"></script>
</body>
</html>
