<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>SL BEAUTY - сервис и логистика профессиональной косметики. Каталог</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
@import "header.html"

<div class="content page-content">

    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="index.html">Главная</a></li>
                <li><a href="reviews.html">Отзывы</a></li>
            </ul>
        </div>
    </div>

    <section class="reviews">
        <div class="container">
            <h1 class="title">Отзывы</h1>

            <div class="reviews-content">
                <div class="reviews-box">
                    <div class="image"><img src="img/photo.jpg" alt=""></div>
                    <div class="text">
                        <div class="name text-accent">Наталья, г. Москва</div>

                        <div class="reviews-user">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur est explicabo,
                               laborum maiores minus numquam odit perspiciatis. Libero quia quisquam ratione tempora ut.
                               Accusamus, aliquam blanditiis ducimus fugiat officia voluptatem.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur est explicabo,
                               laborum maiores minus numquam odit perspiciatis. Libero quia quisquam ratione tempora ut.
                               Accusamus, aliquam blanditiis ducimus fugiat officia voluptatem.</p>
                        </div>

                        <div class="date">11.05.2019</div>
                    </div>
                </div>

                <div class="reviews-box">
                    <div class="image"><img src="img/photo.jpg" alt=""></div>
                    <div class="text">
                        <div class="name text-accent">Наталья, г. Москва</div>

                        <div class="reviews-user">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur est explicabo,
                               laborum maiores minus numquam odit perspiciatis. Libero quia quisquam ratione tempora ut.
                               Accusamus, aliquam blanditiis ducimus fugiat officia voluptatem.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur est explicabo,
                               laborum maiores minus numquam odit perspiciatis. Libero quia quisquam ratione tempora ut.
                               Accusamus, aliquam blanditiis ducimus fugiat officia voluptatem.</p>
                        </div>

                        <div class="date">11.05.2019</div>
                    </div>
                </div>

                <div class="reviews-box">
                    <div class="image"><img src="img/photo.jpg" alt=""></div>
                    <div class="text">
                        <div class="name text-accent">Наталья, г. Москва</div>

                        <div class="reviews-user">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur est explicabo,
                               laborum maiores minus numquam odit perspiciatis. Libero quia quisquam ratione tempora ut.
                               Accusamus, aliquam blanditiis ducimus fugiat officia voluptatem.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur est explicabo,
                               laborum maiores minus numquam odit perspiciatis. Libero quia quisquam ratione tempora ut.
                               Accusamus, aliquam blanditiis ducimus fugiat officia voluptatem.</p>
                        </div>

                        <div class="date">11.05.2019</div>
                    </div>
                </div>

                <div class="reviews-box">
                    <div class="image"><img src="img/photo.jpg" alt=""></div>
                    <div class="text">
                        <div class="name text-accent">Наталья, г. Москва</div>

                        <div class="reviews-user">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur est explicabo,
                               laborum maiores minus numquam odit perspiciatis. Libero quia quisquam ratione tempora ut.
                               Accusamus, aliquam blanditiis ducimus fugiat officia voluptatem.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur est explicabo,
                               laborum maiores minus numquam odit perspiciatis. Libero quia quisquam ratione tempora ut.
                               Accusamus, aliquam blanditiis ducimus fugiat officia voluptatem.</p>
                        </div>

                        <div class="date">11.05.2019</div>
                    </div>
                </div>

                <form method="post" class="form-reviews">
                    <h5 class="text-accent">Оставить отзыв:</h5>
                    <label><input type="text" name="name" placeholder="Ваше имя"></label>
                    <label><textarea name="message" placeholder="Ваш отзыв"></textarea></label>

                    <button type="submit" class="btn-accent">Отправить</button>
                </form>
            </div>

            <ul class="pagination">
                <li><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </section>


</div>

@import "footer.html"


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/common.js"></script>
</body>
</html>
