<!-- header.html -->
<div id="mobile-menu">
    <div class="btn-close"><i class="fa fa-times" aria-hidden="true"></i></div>
  <div class="mobile-menu__content">

      <nav class="navigation-main">
          <ul class="main-menu">
              <li class="main-menu__item">
                  <a href="catalog.html" class="main-menu__links links-drop">Каталог <span class="icon fa fa-angle-down"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="peeling.html">Пилинги</a></li>
                      <li><a href="#">Биоревитализанты</a></li>
                      <li><a href="#">Контурная пластика \ Филлеры</a></li>
                      <li><a href="#">Мезонити</a></li>
                      <li><a href="#">Липолитики</a></li>
                      <li><a href="#">Мезококтейли</a></li>
                      <li><a href="#">Расходные материалы</a></li>
                      <li><a href="#">Постпроцедурный уход</a></li>
                      <li><a href="#">Трихология</a></li>
                  </ul>
              </li>
              <li class="main-menu__item"><a href="sale.html" class="main-menu__links">Акции</a></li>
              <li class="main-menu__item"><a href="training.html" class="main-menu__links">Обучение</a></li>
              <li class="main-menu__item"><a href="brand.html" class="main-menu__links">Брэнды</a></li>
              <li class="main-menu__item"><a href="reviews.html" class="main-menu__links">Отзывы</a></li>
          </ul>
      </nav>

      <ul class="menu">
          <li class="menu-item"><a href="index.html" class="menu-links">Главная</a></li>
          <li class="menu-item"><a href="about.html" class="menu-links">О компании</a></li>
          <li class="menu-item"><a href="news.html" class="menu-links">Новости</a></li>
          <li class="menu-item"><a href="contacts.html" class="menu-links">Контакты</a></li>
      </ul>

      <div class="box-location">
          <span class="fa fa-map-marker icon icon-accent"></span>
          <p>г. Москва, Ленинский пр-т, д. 29, офис 202</p>
      </div>
  </div>
</div>

<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="btn-mobile-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav class="navigation">
                <ul class="menu">
                    <li class="menu-item"><a href="index.html" class="menu-links">Главная</a></li>
                    <li class="menu-item"><a href="about.html" class="menu-links">О компании</a></li>
                    <li class="menu-item"><a href="news.html" class="menu-links">Новости</a></li>
                    <li class="menu-item"><a href="contacts.html" class="menu-links">Контакты</a></li>
                </ul>
            </nav>

            <div class="box-location">
                <span class="fa fa-map-marker icon icon-accent"></span>
                <p>г. Москва, Ленинский пр-т, д. 29, офис 202</p>
            </div>

            <a href="mailto:sl-beauty@yandex.ru" class="mail">
                <span class="icon icon-accent fa fa-envelope"></span>
                <span class="text">sl-beauty@yandex.ru</span>
            </a>
            <ul class="list-social">
                <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>

        </div>
    </div>
    <div class="header-center">
        <div class="container">
            <a href="index.html" class="logo"><img src="img/logo.svg" alt=""></a>

            <form method="post" class="form-search">
                <label><input type="text" placeholder="Найти" required></label>
                <button type="submit" class="btn-accent"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>

            <div class="box-contacts">
                <a href="tel:+79104430909" class="phone">+7 (910) 443-09-09</a>
                <a href="#callback__modal" class="open_modal btn-accent">Заказать звонок</a>
            </div>

            <a href="#" class="box-basket open_modal">
                <span class="fa fa-shopping-basket icon"></span>
                <span class="total-orders-basket">1</span>
            </a>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <nav class="navigation-main">
                <ul class="main-menu">
                    <li class="main-menu__item">
                        <a href="catalog.html" class="main-menu__links links-drop">Каталог <span class="icon fa fa-angle-down"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="peeling.html">Пилинги</a></li>
                            <li><a href="#">Биоревитализанты</a></li>
                            <li><a href="#">Контурная пластика \ Филлеры</a></li>
                            <li><a href="#">Мезонити</a></li>
                            <li><a href="#">Липолитики</a></li>
                            <li><a href="#">Мезококтейли</a></li>
                            <li><a href="#">Расходные материалы</a></li>
                            <li><a href="#">Постпроцедурный уход</a></li>
                            <li><a href="#">Трихология</a></li>
                        </ul>
                    </li>
                    <li class="main-menu__item"><a href="sale.html" class="main-menu__links">Акции</a></li>
                    <li class="main-menu__item"><a href="training.html" class="main-menu__links">Обучение</a></li>
                    <li class="main-menu__item"><a href="brand.html" class="main-menu__links">Брэнды</a></li>
                    <li class="main-menu__item"><a href="reviews.html" class="main-menu__links">Отзывы</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>