<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>SL BEAUTY - сервис и логистика профессиональной косметики. Каталог</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
@import "header.html"

<div class="content page-content">

    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="index.html">Главная</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>
        </div>
    </div>

    <section class="contacts">
        <div class="container">
            <h1 class="title">Контакты</h1>

            <div class="contacts-content">
                <div class="contacts-box">
                    <a href="tel:+79104430909" class="phone">
                        <span class="icon icon-accent fa fa-phone"></span>
                        +7 (910) 443-09-09</a>
                    <a href="mailto:sl-beauty@yandex.ru" class="mail">
                        <span class="icon icon-accent fa fa-envelope"></span>
                        <span class="text">sl-beauty@yandex.ru</span>
                    </a>

                    <div class="box-location">
                        <span class="fa fa-map-marker icon icon-accent"></span>
                        <p>г. Москва, Ленинский пр-т, д. 29, офис 202</p>
                    </div>

                    <ul class="list-social">
                        <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>

                    <form method="post" class="form-reviews">
                        <h5>Написать нам:</h5>
                        <label><input type="text" name="name" placeholder="Ваше имя"></label>
                        <label><input type="text" name="mail" placeholder="Ваш email"></label>
                        <label><textarea name="message" placeholder="Ваше сообщение"></textarea></label>

                        <button type="submit" class="btn-accent">Отправить</button>
                    </form>

                </div>

                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2247.5528425970388!2d37.58856631582207!3d55.71414398054304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54b7015460c71%3A0x4f1ed71b6cd3330e!2z0JvQtdC90LjQvdGB0LrQuNC5INC_0YAuLCAyOSwgMjAyLCDQnNC-0YHQutCy0LAsIDExOTA3MQ!5e0!3m2!1sru!2sru!4v1560367738835!5m2!1sru!2sru"
                            width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>


        </div>
    </section>

    <section class="delivery" id="delivery">
        <div class="container">
            <h2 class="title">Условия доставки</h2>

            <p>Наш интернет-магазин для косметологов предлагает несколько вариантов доставки:</p>

            <ul class="list-disc">
                <li>курьерская доставка по Москве и Московской области</li>
                <li>самовывоз из офиса</li>
                <li>транспортная компания</li>
            </ul>

            <h3>Курьерская доставка</h3>
            <p>Вы можете заказать доставку препаратов в клинику курьером, который прибудет по указанному адресу в будние
               дни и субботу с 9.00 до 19.00. Курьерская служба, свяжется с вами и предложит выбрать удобное время
               доставки. Уточнит адрес.</p>

            <p>Вы проверяете упаковку препаратов при курьере, осматриваете на целостность и соответствие заказу. Время
               осмотра ограничено 15 минутами. После вы можете отказаться частично или полностью от покупки.</p>

            <p>Доставка бесплатна при заказе от 15000 рублей.</p>

            <blockquote>оплату можно произвести заранее или при передачи препаратов как наличными, так и
                        банковской картой
            </blockquote>

            <h3>Самовывоз из офиса</h3>
            <p>Вы можете забрать товар в нашем офисе. Когда заказ будет оформлен самовывозом, с вами свяжется менеджер
               офиса и раскажет о деталях заказа. Вы просто приезжаете в наш офис, обращаетесь к сотруднику в кассовой
               зоне и называете номер заказа.</p>

            <blockquote>оплатить заказ можно заранее или непосредственно в офисе при передачи препаратов, как наличными,
                        так и банковской картой
            </blockquote>

            <h3>Доставка транспортной компанией</h3>
            <p>Доставку препаратов в ваш город можно осуществить транспортной компанией. Мы после получения вашего
               заказа вызываем курьера из транспортной компании и отгружаем ему продукцию. Поо прибытию заказа в ваш
               город, курьер свяжется с вами и сообщит о времени доставки.</p>

            <blockquote>отправка препаратов осуществляется только при 100% оплате заказа</blockquote>

            <h3>Срок доставки</h3>

            <p>В зависимости от вашего региона проживания, доставка занимает разное время.</p>

            <p>Москва и Московская область могут получить препараты в этот или на следующий день после оформления заказа.</p>

            <p>О доставке в другие регионы России уточняйте у менеджеров магазина.</p>

        </div>
    </section>


</div>

@import "footer.html"


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/common.js"></script>
</body>
</html>
