<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>SL BEAUTY - сервис и логистика профессиональной косметики. Каталог</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
@import "header.html"

<div class="content page-content">

    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="index.html">Главная</a></li>
                <li><a href="about.html">О компании</a></li>
            </ul>
        </div>
    </div>

    <section class="about">
        <div class="container">
            <h1 class="title">О компании</h1>

            <div class="about-content">
                <h3><strong>SL BEAUTY</strong> - сервис и логистика профессиональной косметики</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet blanditiis cum minima modi nam neque
                   porro quibusdam ullam veniam! Architecto blanditiis doloremque eum eveniet facilis pariatur
                   praesentium repellendus unde? Eaque!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet blanditiis cum minima modi nam neque
                   porro quibusdam ullam veniam! Architecto blanditiis doloremque eum eveniet facilis pariatur
                   praesentium repellendus unde? Eaque!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet blanditiis cum minima modi nam neque
                   porro quibusdam ullam veniam! Architecto blanditiis doloremque eum eveniet facilis pariatur
                   praesentium repellendus unde? Eaque!</p>

                <blockquote>
                    <strong>НАША ОСНОВНАЯ ЦЕЛЬ</strong> - предоставление врачам-косметологам высококачественного сервиса, который
                    позволяет в одном месте приобрести&nbsp;безопасные и эффективные&nbsp;медицинские&nbsp;и
                    фармацевтические изделия&nbsp;и пройти обучение по методам применения этих препаратов.
                </blockquote>

                <h5>Преимущества сотрудничества с нами:</h5>

                <ul class="list-cube">
                    <li>Широкий ассортимент препаратов для косметологов.</li>
                    <li>Только сертифицированная продукция.</li>
                    <li>Мы выбираем лучших поставщиков и отвечаем за качество.</li>
                    <li>Оплата наличными, картой или рассрочка? Плати как удобно!</li>
                    <li>Оформление заказа 24 часа в сутки.</li>
                    <li>Оперативная доставка по всей России.</li>
                    <li>Акции и накопительные бонусы.</li>
                    <li>Самые актуальные семинары для косметологов.</li>
                </ul>
            </div>
        </div>
    </section>


</div>

@import "footer.html"


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/common.js"></script>
</body>
</html>
