<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>SL BEAUTY - сервис и логистика профессиональной косметики. Каталог</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
@import "header.html"

<div class="content page-content">

    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="index.html">Главная</a></li>
                <li><a href="catalog.html">Каталог</a></li>
            </ul>
        </div>
    </div>

    <section class="catalog">
        <div class="container">
            <h1 class="title">Каталог</h1>

            <div class="catalog-content">
                <a href="peeling.html" class="category-tile__box">
                    <span class="image"><img src="img/services1.jpg" alt=""></span>
                    <h3>Пилинги</h3>
                    <span class="category-tile__description">Профессиональная линия мультикислотных пилингов, разработанных с учетом проблем и особенностей каждого типа кожи.</span>
                </a>
                <a href="#" class="category-tile__box">
                    <span class="image"><img src="img/services2.jpeg" alt=""></span>
                    <h3>Биоревитализанты</h3>
                    <span class="category-tile__description">Биоревитализация - метод восстановления и оптимизации качественных характеристик кожи, в частности межклеточного матрикса.</span>
                </a>
                <a href="#" class="category-tile__box">
                    <span class="image"><img src="img/services3.jpeg" alt=""></span>
                    <h3>Контурная пластика \ Филлеры</h3>
                    <span class="category-tile__description">Филлеры (Fill — от англ. — наполнять) – это инъекционные наполнители, преимущественно на основе гиалуроновой кислоты.</span>
                </a>
                <a href="#" class="category-tile__box">
                    <span class="image"><img src="img/services4.jpg" alt=""></span>
                    <h3>Мезонити</h3>
                    <span class="category-tile__description">Мезонити - это система состоящая из иглы-проводника и предустановленной в неё биосовместимой и нити из полидиоксанона. </span>
                </a>
                <a href="#" class="category-tile__box">
                    <span class="image"><img src="img/services5.jpg" alt=""></span>
                    <h3>Липолитики</h3>
                    <span class="category-tile__description">Липолитики — это препараты с жиросжигающим эффектом, в состав которых лецитин.</span>
                </a>
                <a href="#" class="category-tile__box">
                    <span class="image"><img src="img/services6.jpg" alt=""></span>
                    <h3>Мезококтейли</h3>
                    <span class="category-tile__description">Мезококтейли – это современные препараты, позволяющие в кротчайшие сроки избавиться от акне, пигментных пятен и морщин.</span>
                </a>
                <a href="#" class="category-tile__box">
                    <span class="image"><img src="img/services7.jpg" alt=""></span>
                    <h3>Расходные материалы</h3>
                    <span class="category-tile__description">В нашем интернет-магазине вы можете купить иглы для мезотерапии, биоревитализации, ботулинотерапии и контурной пластики.</span>
                </a>
                <a href="#" class="category-tile__box">
                    <span class="image"><img src="img/services8.jpeg" alt=""></span>
                    <h3>Постпроцедурный уход</h3>
                    <span class="category-tile__description">Постпроцедурный уход - это создание комфортных условий для восстановления кожи после любой инвазивной косметологической процедуры.</span>
                </a>
                <a href="#" class="category-tile__box">
                    <span class="image"><img src="img/services9.jpg" alt=""></span>
                    <h3>Трихология</h3>
                    <span class="category-tile__description">Трихология происходит от греческого trihos – волос и logos – учение и переводится как наука о волосах.</span>
                </a>
            </div>
        </div>
    </section>

    <section class="section-view">
        <div class="container">
            <h2>Недавно <span class="text-accent">Смотрели</span></h2>

            <div class="hits-slider">
                <div class="slide">
                    <div class="product-cart">
                        <div class="stick stick-yellow">Хит продаж</div>
                        <a href="#" class="favorites-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>

                        <a href="#" class="image">
                            <img src="img/product1.png" alt="">
                        </a>

                        <a href="#" class="product-cart__name">Постпроцедурная маска V-TOX Patch (5 шт.)2</a>

                        <ul class="list-rating">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        </ul>

                        <div class="button-group">
                            <div class="price-wrapper">
                                <div class="new-price">1200 <i class="fa fa-rub" aria-hidden="true"></i></div>
                            </div>

                            <a href="#" class="add-basket">
                                <span class="fa fa-shopping-basket icon"></span>
                            </a>
                        </div>


                    </div>
                </div>
                <div class="slide">
                    <div class="product-cart">
                        <div class="stick stick-yellow">Хит продаж</div>
                        <a href="#" class="favorites-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>

                        <a href="#" class="image">
                            <img src="img/product1.png" alt="">
                        </a>

                        <a href="#" class="product-cart__name">Постпроцедурная маска V-TOX Patch (5 шт.)2</a>

                        <ul class="list-rating">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        </ul>

                        <div class="button-group">
                            <div class="price-wrapper">
                                <div class="new-price">1200 <i class="fa fa-rub" aria-hidden="true"></i></div>
                            </div>

                            <a href="#" class="add-basket">
                                <span class="fa fa-shopping-basket icon"></span>
                            </a>
                        </div>


                    </div>
                </div>
                <div class="slide">
                    <div class="product-cart">
                        <div class="stick stick-yellow">Хит продаж</div>
                        <a href="#" class="favorites-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>

                        <a href="#" class="image">
                            <img src="img/product1.png" alt="">
                        </a>

                        <a href="#" class="product-cart__name">Постпроцедурная маска V-TOX Patch (5 шт.)2</a>

                        <ul class="list-rating">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        </ul>

                        <div class="button-group">
                            <div class="price-wrapper">
                                <div class="new-price">1200 <i class="fa fa-rub" aria-hidden="true"></i></div>
                            </div>

                            <a href="#" class="add-basket">
                                <span class="fa fa-shopping-basket icon"></span>
                            </a>
                        </div>


                    </div>
                </div>
                <div class="slide">
                    <div class="product-cart">
                        <div class="stick stick-green">Новинка</div>
                        <a href="#" class="favorites-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>

                        <a href="#" class="image">
                            <img src="img/product1.png" alt="">
                        </a>

                        <a href="#" class="product-cart__name">Постпроцедурная маска V-TOX Patch (5 шт.)2</a>

                        <ul class="list-rating">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        </ul>

                        <div class="button-group">
                            <div class="price-wrapper">
                                <div class="new-price">1200 <i class="fa fa-rub" aria-hidden="true"></i></div>
                            </div>

                            <a href="#" class="add-basket">
                                <span class="fa fa-shopping-basket icon"></span>
                            </a>
                        </div>


                    </div>
                </div>
                <div class="slide">
                    <div class="product-cart">
                        <div class="stick stick-red">Акция</div>
                        <a href="#" class="favorites-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>

                        <a href="#" class="image">
                            <img src="img/product1.png" alt="">
                        </a>

                        <a href="#" class="product-cart__name">Постпроцедурная маска V-TOX Patch (5 шт.)2</a>

                        <ul class="list-rating">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        </ul>

                        <div class="button-group">
                            <div class="price-wrapper">
                                <div class="new-price">1200 <i class="fa fa-rub" aria-hidden="true"></i></div>
                            </div>

                            <a href="#" class="add-basket">
                                <span class="fa fa-shopping-basket icon"></span>
                            </a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

@import "footer.html"


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/common.js"></script>
</body>
</html>
