<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>SL BEAUTY - сервис и логистика профессиональной косметики. Каталог</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
@import "header.html"

<div class="content page-content">

    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="index.html">Главная</a></li>
                <li><a href="brand.html">Бренды</a></li>
            </ul>
        </div>
    </div>

    <section class="brand">
        <div class="container">
            <h1 class="title">Бренды</h1>

            <div class="brand-content">
                <a href="#" class="brand-box"><img src="img/revi.jpeg" alt=""></a>
                <a href="#" class="brand-box"><img src="img/amalain.jpg" alt=""></a>
                <a href="#" class="brand-box"><img src="img/reneall.jpg" alt=""></a>
                <a href="#" class="brand-box"><img src="img/blum-gel.png" alt=""></a>
                <a href="#" class="brand-box"><img src="img/armorik.png" alt=""></a>
                <a href="#" class="brand-box"><img src="img/profilers.jpg" alt=""></a>
                <a href="#" class="brand-box"><img src="img/anubis.jpeg" alt=""></a>
                <a href="#" class="brand-box"><img src="img/anubis.jpeg" alt=""></a>
            </div>
        </div>
    </section>


</div>

@import "footer.html"


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/common.js"></script>
</body>
</html>
