<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>SL BEAUTY - сервис и логистика профессиональной косметики. Продукт</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
@import "header.html"

<div class="content page-content">

    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="index.html">Главная</a></li>
                <li><a href="#">Пилинги</a></li>
                <li><a href="product.html">Advanced Resurfacing Peel</a></li>
            </ul>
        </div>
    </div>

    <section class="product">
        <div class="container">
            <h1 class="title">Advanced Resurfacing Peel</h1>

            <div class="product-content">
                <div class="product-content__image">
                    <a href="img/product.jpg" data-fancybox="images">
                        <img src="img/product.jpg" alt=""/>
                    </a>
                </div>

                <div class="product-content__information">
                    <div class="line">
                        <div class="availability-box box">
                            <h6>Наличие:</h6>
                            <p class="text-green">в наличии</p>
                        </div>

                        <div class="image"><img src="img/dev.png" alt=""></div>
                    </div>

                    <div class="line">
                        <ul class="list-rating">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        </ul>
                        <a href="#" class="favorites-icon">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <span class="text">Добавить в избранное</span>
                        </a>
                    </div>

                    <div class="mini-description">
                        <p>Для интенсивной коррекции возрастных изменений кожи.</p>
                    </div>


                    <div class="line">
                        <div class="box">
                            <h6>Кол-во:</h6>
                            <div class="amount">
                                <button class="down">-</button>
                                <input type="text" value="1"/>
                                <button class="up">+</button>
                            </div>
                        </div>

                        <div class="box">
                            <h6>Объем:</h6>
                            <label class="select-wrapper">
                                <select name="volume" class="select">
                                    <option value="125 ml">125 ml</option>
                                    <option value="200 ml">200 ml</option>
                                </select>
                            </label>
                        </div>
                    </div>

                    <div class="line">
                        <div class="box box-price">
                            <h6>Стоимость:</h6>
                            <div class="price-wrapper">
                                <div class="old-price">1400 </div>
                                <div class="new-price">1200 <i class="fa fa-rub" aria-hidden="true"></i></div>
                            </div>
                        </div>

                        <a href="#" class="btn-accent">
                            Добавить в корзину</a>
                    </div>

                </div>
            </div>

            <div class="product-characteristics">
                <div class="tabs tabs-characteristics">
                    <ul class="tabs__caption">
                        <li class="active">Описание</li>
                        <li>Характеристики</li>
                        <li>Документы</li>
                        <li>Отзывы</li>
                    </ul>
                    <div class="tabs__content active">
                        <h3>Описание</h3>
                        <p><strong>Advanced Resurfacing Peel</strong> - профессиональный мультикислотный пилинг для
                                                                      интенсивной коррекции возрастных изменений кожи:
                        </p>

                        <ul class="list-cube">
                            <li>способствует разглаживанию мелких и глубоких морщин;</li>
                            <li>очищает поры;</li>
                            <li>обновляет текстуру кожи;</li>
                            <li>улучшает тон;</li>
                            <li>корректирует недостатки;</li>
                            <li>увлажняет;</li>
                            <li>стимулирует синтез коллагеновых волокон и обновление клеток кожи.</li>
                        </ul>

                        <h5 class="text-accent">Показания:</h5>

                        <ul class="list-disc">
                            <li>Видимые признаки старения, в том числе морщины</li>
                        </ul>

                        <h5 class="text-accent">Дополнительно:</h5>

                        <ul class="list-disc">
                            <li>Текстура кожи</li>
                            <li>Фотоповреждения и гиперпигментация кожи</li>
                            <li>Расширенные поры</li>
                            <li>Сухость и шелушения</li>
                        </ul>

                        <h5 class="text-accent">Состав:</h5>
                        <ul class="list-disc">
                            <li>Гелевая основа</li>
                            <li>pH 2.8</li>
                            <li>26% Молочная кислота</li>
                            <li>20% Гликолиевая кислота</li>
                            <li>20% Миндальная кислота</li>
                            <li>2% Салициловая кислота</li>
                            <li>2% Койевая кислота</li>
                        </ul>

                        <h5 class="text-accent">Курс процедур:</h5>
                        <p>1-6 процедур с интервалами не менее 7-14 дней</p>
                        <h5 class="text-accent">Периодичность:</h5>
                        <p>2 курса в год</p>
                    </div>

                    <div class="tabs__content">
                        <h3>Характеристики</h3>

                        <ul class="list">
                            <li>
                                <p>Температура хранения</p><span>+5 °C до +35 °C</span>
                            </li>
                            <li>
                                <p>Форма выпуска</p><span>50 мл</span>
                            </li>
                            <li>
                                <p>Страна производства</p><span>Испания</span>
                            </li>
                        </ul>
                    </div>

                    <div class="tabs__content">
                        <h3>Документы</h3>

                        <a href="img/document.pdf" target="_blank" class="links-pdf links-accent">
                            <span class="fa fa-file-pdf-o" aria-hidden="true"></span>
                            <span class="text">инструкция на Advanced Resurfacing Peel</span>
                        </a>
                    </div>

                    <div class="tabs__content">
                        <h3>Отзывы</h3>

                        <div class="customer-reviews">
                            <div class="name">
                                <h4>Иван Степанович</h4>
                                <div class="date">
                                    30.01.2019 02:27:17
                                </div>
                            </div>
                            <div class="text">
                                <p>После каждой процедуры своим пациентам одеваю маску V-TOX на 5-10 минут, а некоторых
                                   отпускаю в ней до дома, если пациент на машине. И с собой 1-2 масочки предлагаю с
                                   целью сокращения реабилитационного периода. Очень хорошо помогает маска сократить
                                   неприятные ощущения после инъекций</p>
                            </div>

                        </div>


                        <form method="post" class="form-reviews">
                            <h5 class="text-accent">Оставить отзыв:</h5>
                            <label><input type="text" name="name" placeholder="Ваше имя"></label>
                            <label><textarea name="message" placeholder="Ваш отзыв"></textarea></label>

                            <button type="submit" class="btn-accent">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <section class="section-hits">
        <div class="container">
            <h2>Хиты <span class="text-accent">продаж</span></h2>

            <div class="hits-slider">
                <div class="slide">
                    <div class="product-cart">
                        <div class="stick stick-yellow">Хит продаж</div>
                        <a href="#" class="favorites-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>

                        <a href="#" class="image">
                            <img src="img/product1.png" alt="">
                        </a>

                        <a href="#" class="product-cart__name">Постпроцедурная маска V-TOX Patch (5 шт.)2</a>

                        <ul class="list-rating">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        </ul>

                        <div class="button-group">
                            <div class="price-wrapper">
                                <div class="new-price">1200 <i class="fa fa-rub" aria-hidden="true"></i></div>
                            </div>

                            <a href="#" class="add-basket">
                                <span class="fa fa-shopping-basket icon"></span>
                            </a>
                        </div>


                    </div>
                </div>
                <div class="slide">
                    <div class="product-cart">
                        <div class="stick stick-yellow">Хит продаж</div>
                        <a href="#" class="favorites-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>

                        <a href="#" class="image">
                            <img src="img/product1.png" alt="">
                        </a>

                        <a href="#" class="product-cart__name">Постпроцедурная маска V-TOX Patch (5 шт.)2</a>

                        <ul class="list-rating">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        </ul>

                        <div class="button-group">
                            <div class="price-wrapper">
                                <div class="new-price">1200 <i class="fa fa-rub" aria-hidden="true"></i></div>
                            </div>

                            <a href="#" class="add-basket">
                                <span class="fa fa-shopping-basket icon"></span>
                            </a>
                        </div>


                    </div>
                </div>
                <div class="slide">
                    <div class="product-cart">
                        <div class="stick stick-yellow">Хит продаж</div>
                        <a href="#" class="favorites-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>

                        <a href="#" class="image">
                            <img src="img/product1.png" alt="">
                        </a>

                        <a href="#" class="product-cart__name">Постпроцедурная маска V-TOX Patch (5 шт.)2</a>

                        <ul class="list-rating">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        </ul>

                        <div class="button-group">
                            <div class="price-wrapper">
                                <div class="new-price">1200 <i class="fa fa-rub" aria-hidden="true"></i></div>
                            </div>

                            <a href="#" class="add-basket">
                                <span class="fa fa-shopping-basket icon"></span>
                            </a>
                        </div>


                    </div>
                </div>
                <div class="slide">
                    <div class="product-cart">
                        <div class="stick stick-yellow">Хит продаж</div>
                        <a href="#" class="favorites-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>

                        <a href="#" class="image">
                            <img src="img/product1.png" alt="">
                        </a>

                        <a href="#" class="product-cart__name">Постпроцедурная маска V-TOX Patch (5 шт.)2</a>

                        <ul class="list-rating">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        </ul>

                        <div class="button-group">
                            <div class="price-wrapper">
                                <div class="new-price">1200 <i class="fa fa-rub" aria-hidden="true"></i></div>
                            </div>

                            <a href="#" class="add-basket">
                                <span class="fa fa-shopping-basket icon"></span>
                            </a>
                        </div>


                    </div>
                </div>
                <div class="slide">
                    <div class="product-cart">
                        <div class="stick stick-yellow">Хит продаж</div>
                        <a href="#" class="favorites-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>

                        <a href="#" class="image">
                            <img src="img/product1.png" alt="">
                        </a>

                        <a href="#" class="product-cart__name">Постпроцедурная маска V-TOX Patch (5 шт.)2</a>

                        <ul class="list-rating">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        </ul>

                        <div class="button-group">
                            <div class="price-wrapper">
                                <div class="new-price">1200 <i class="fa fa-rub" aria-hidden="true"></i></div>
                            </div>

                            <a href="#" class="add-basket">
                                <span class="fa fa-shopping-basket icon"></span>
                            </a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-view">
        <div class="container">
            <h2>Недавно <span class="text-accent">Смотрели</span></h2>

            <div class="hits-slider">
                <div class="slide">
                    <div class="product-cart">
                        <div class="stick stick-yellow">Хит продаж</div>
                        <a href="#" class="favorites-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>

                        <a href="#" class="image">
                            <img src="img/product1.png" alt="">
                        </a>

                        <a href="#" class="product-cart__name">Постпроцедурная маска V-TOX Patch (5 шт.)2</a>

                        <ul class="list-rating">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        </ul>

                        <div class="button-group">
                            <div class="price-wrapper">
                                <div class="new-price">1200 <i class="fa fa-rub" aria-hidden="true"></i></div>
                            </div>

                            <a href="#" class="add-basket">
                                <span class="fa fa-shopping-basket icon"></span>
                            </a>
                        </div>


                    </div>
                </div>
                <div class="slide">
                    <div class="product-cart">
                        <div class="stick stick-yellow">Хит продаж</div>
                        <a href="#" class="favorites-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>

                        <a href="#" class="image">
                            <img src="img/product1.png" alt="">
                        </a>

                        <a href="#" class="product-cart__name">Постпроцедурная маска V-TOX Patch (5 шт.)2</a>

                        <ul class="list-rating">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        </ul>

                        <div class="button-group">
                            <div class="price-wrapper">
                                <div class="new-price">1200 <i class="fa fa-rub" aria-hidden="true"></i></div>
                            </div>

                            <a href="#" class="add-basket">
                                <span class="fa fa-shopping-basket icon"></span>
                            </a>
                        </div>


                    </div>
                </div>
                <div class="slide">
                    <div class="product-cart">
                        <div class="stick stick-yellow">Хит продаж</div>
                        <a href="#" class="favorites-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>

                        <a href="#" class="image">
                            <img src="img/product1.png" alt="">
                        </a>

                        <a href="#" class="product-cart__name">Постпроцедурная маска V-TOX Patch (5 шт.)2</a>

                        <ul class="list-rating">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        </ul>

                        <div class="button-group">
                            <div class="price-wrapper">
                                <div class="new-price">1200 <i class="fa fa-rub" aria-hidden="true"></i></div>
                            </div>

                            <a href="#" class="add-basket">
                                <span class="fa fa-shopping-basket icon"></span>
                            </a>
                        </div>


                    </div>
                </div>
                <div class="slide">
                    <div class="product-cart">
                        <div class="stick stick-green">Новинка</div>
                        <a href="#" class="favorites-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>

                        <a href="#" class="image">
                            <img src="img/product1.png" alt="">
                        </a>

                        <a href="#" class="product-cart__name">Постпроцедурная маска V-TOX Patch (5 шт.)2</a>

                        <ul class="list-rating">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        </ul>

                        <div class="button-group">
                            <div class="price-wrapper">
                                <div class="new-price">1200 <i class="fa fa-rub" aria-hidden="true"></i></div>
                            </div>

                            <a href="#" class="add-basket">
                                <span class="fa fa-shopping-basket icon"></span>
                            </a>
                        </div>


                    </div>
                </div>
                <div class="slide">
                    <div class="product-cart">
                        <div class="stick stick-red">Акция</div>
                        <a href="#" class="favorites-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>

                        <a href="#" class="image">
                            <img src="img/product1.png" alt="">
                        </a>

                        <a href="#" class="product-cart__name">Постпроцедурная маска V-TOX Patch (5 шт.)2</a>

                        <ul class="list-rating">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        </ul>

                        <div class="button-group">
                            <div class="price-wrapper">
                                <div class="new-price">1200 <i class="fa fa-rub" aria-hidden="true"></i></div>
                            </div>

                            <a href="#" class="add-basket">
                                <span class="fa fa-shopping-basket icon"></span>
                            </a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

@import "footer.html"


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/common.js"></script>
</body>
</html>
