<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>SL BEAUTY - сервис и логистика профессиональной косметики. Каталог</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
@import "header.html"

<div class="content page-content">

    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="index.html">Главная</a></li>
                <li><a href="sale.html">Акции</a></li>
            </ul>
        </div>
    </div>

    <section class="sale">
        <div class="container">
            <h1 class="title">Акции</h1>

            <div class="sale-content">
                <div class="sale-box">
                    <div class="sale-box__image"><img src="img/product1.png" alt=""></div>
                    <div class="sale-box__text">
                        <div class="title-sale">Акция на филлеры Platinum</div>
                        <div class="date">до 30 июня 2019</div>

                        <div class="conditions-sale">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere magnam natus officia.
                               Accusantium, aperiam eaque eos est fugit magni neque nihil nobis non repellat sapiente
                               similique unde. Fuga, modi, rem!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At commodi cum, dicta doloribus
                               dolorum eos esse inventore iste laboriosam magnam numquam officiis praesentium quas,
                               quibusdam quis quo velit? Eaque, labore?</p>
                        </div>
                    </div>
                </div>
                <div class="sale-box">
                    <div class="sale-box__image"><img src="img/product1.png" alt=""></div>
                    <div class="sale-box__text">
                        <div class="title-sale">Акция на филлеры Platinum</div>
                        <div class="date">до 30 июня 2019</div>

                        <div class="conditions-sale">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere magnam natus officia.
                               Accusantium, aperiam eaque eos est fugit magni neque nihil nobis non repellat sapiente
                               similique unde. Fuga, modi, rem!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At commodi cum, dicta doloribus
                               dolorum eos esse inventore iste laboriosam magnam numquam officiis praesentium quas,
                               quibusdam quis quo velit? Eaque, labore?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>

@import "footer.html"


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/common.js"></script>
</body>
</html>
